* {
    margin: 4px;
    border: 0;
}

body {
    background-color: rgb(192, 179, 157);
    /* border: 5px solid black; */
    /* background: url(https://i.postimg.cc/fR5tCwNj/inside-weather-Uxqlfigh6o-E-unsplash.jpg);
    background-size: cover; */
    /* Photo by <a href="https://unsplash.com/@insideweather?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Inside Weather</a> on <a href="https://unsplash.com/photos/black-and-brown-leather-padded-tub-sofa-Uxqlfigh6oE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */   
}

h3 {
    font-size: 26px;
    margin: 10px 0px 5px 0px;
}

.logo {
    font-size: 26px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.navOptions {
    display: flex;
    margin: 0px 30px 0px 0px;
}

.navLinks {
    display: flex;
    justify-content: stretch;
    padding: 0px 5px 0px 5px;
    font-size: 16px;
}

.linkToAccount {
    width: 10%;
}

.profileIcon {
    width: 30px;
    height: 30px;
    margin: 0px 0px 4px 0px;
}

.item {
    width: 30%;
    height: 30%;
}

/* .galleryItem {
    display: flex;
    flex-direction: column;
} */

.itemShow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0px 100px 0px 0px auto; */
}

.itemImage {
    flex-grow: 3;
    width: 36%;
    height: 36%;
    margin: 80px 45px 20px 0px;
}

.itemImageGallery {
    width: 60%;
    height: 60%;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    margin: 10px 50px 0px 0px;
}

.itemDescript {
    padding: 0px 50px 30px 0px;
}

.addToCart {
    width: 20%;
    margin: 15px 0px 0px 0px;
}

/*>>>>>>>>>>>>>>>>>>> FORM STYLING <<<<<<<<<<<<<<<<<<<<*/
input {
    height: 20px;
    padding: 3px;
}

label {
    font-weight: bold;
}

form {
    background-color: rgba(142, 142, 142, 0.762);
}

.sellHeading {
text-align: center;
}

.itemForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 30px 0px 0px 0px;
}

.descriptBox {
    padding: 0px 10px 50px 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    white-space:pre-line;  
    position:relative;
    /* word-break: break-all; */
  }
  ::-moz-placeholder { /* Firefox 19+ */
    white-space:pre-line;  
    position:relative;
  }
  :-ms-input-placeholder { /* IE 10+ */
    white-space:pre-line;  
    position:relative;
  }
  :-moz-placeholder { /* Firefox 18- */
    white-space:pre-line;  
    position:relative;
  }


/*>>>>>>>>>>>>>>>>>>> EDIT/DELETE STYLING <<<<<<<<<<<<<<<<<<<<*/

.postOptions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 74px 0px 0px 0px;
    /* top: 8%;
    right: 56%;
    width: 20%;
    margin: 0px 0px 0px 570px; */
}

.postIcons {
    /* position: relative;
    left: 38%; */
    width: 34px;
    height: 34px;
}

/*>>>>>>>>>>>>>>>>>>> EDIT FORM STYLING <<<<<<<<<<<<<<<<<<<<*/

.editPage {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.editImage {
    width: 35%;
    height: 35%;
    margin: 20px;
}

.editForm {
    justify-content: stretch;
    width: 40%;
    /* height: 35%; */
    margin: 20px;
}


/*>>>>>>>>>>>>>>>>>>> FAVORITES PAGE STYLING <<<<<<<<<<<<<<<<<<<<*/

.favoritesDelete {
    display: flex;
}

/* .favoritesTrash {
    width: 60px;
    height: 60px;
} */