<%- include ("./partials/header.ejs") %>


<script src="../public/js/script.js"></script>


    <title>Int Design - Gallery</title>
</head>
<body class="landingBody">
    <nav class="navBarHome">
            <a class="navLinks linkToAccount homeIcon" href="/"><img class="navLinks profileIconHome" src='https://i.postimg.cc/SNK1GfHn/user.png'></a>
    </nav>


    <h1 id="homeTitle" class="homeTitle">Int &ensp; &ensp; &nbsp; Design</h1>
    <p class="homeIntro">Welcome to Int Design, a community-curated gallery of artful treasures.</p>
    <a href="/gallery" class="enter"><button class="enterBtn">Gallery</button></a>

</body>
</html>