<%- include ("./partials/header.ejs") %>

    <title>Int Design - New</title>
</head>
<body>
    <nav class="navBar navBarNew">
        <h1><a class="logo" href="/">Intelligent Design</a></h1>
        <div class="navLinks">
            <h2><a class="navLinks" href="/gallery">Gallery</a></h2>
            <h2><a class="navLinks" href="/favorites">Favorites</a></h2>
            <h2><a class="navLinks" href="/gallery/new">Create Listing</a></h2>
            <a class="navLinks linkToAccount" href="/gallery/new"><img class="navLinks profileIcon" src='https://i.postimg.cc/SNK1GfHn/user.png'></a>
        </div>
    </nav>
    
    <div class="backButton"> 
        <a class="backButton" href="/gallery">&#8592; Back to Gallery</a>
    </div>

    
    <h1 class="sellHeading">Post an item to sell</h1>
    <br>

    <div class="sellFlex">
        <img class="fillerImage" src="https://i.postimg.cc/nrdJv5kY/jean-philippe-delberghe-Ry9-WBo3qmoc-unsplash.jpg">

    <form class="itemForm" action="/gallery" method="POST">
        <label for="image">Upload an Image</label>
        <input class="newItemInput" placeholder="Image Link" type="text" name="image">
        <label for="name">Name</label>
        <input class="newItemInput"placeholder="Name" type="text" name="name">
        <label for="price">Price</label>
        <input class="newItemInput" placeholder="Price" type="number" name="price" min="1"><br>
        <label for="description">Description</label>
        <p class="newItemDesc">Talk about your piece. Is it homemade? If not, where was it purchased from? Describe the quality of the piece and remember to mention any damages. 
        <br></br>
        Adding a description helps others decide on purchasing.
        </p>
        <input placeholder="This piece was always a focal point of my living room but does not fit with the furnishing of my current place. Found at the Meadowsland flea marketing when I lived in New Jersey several years ago" type="text" name="description" class="descriptBox" size="23"><br>
        <label for="tags">Tags</label>
        <input class="newItemInput" placeholder="vintage, art, cozy" type="text" name="tags[]"><br>
        <input type="submit" value="Add item to gallery">
    </form>

    </div>

    <div class="newSpacer">
    </div>


<!-- For Presentation Example-->
<!-- https://i.postimg.cc/HsdMQLHp/miffy-friends.webp -->

<!-- https://unsplash.com/photos/turned-on-pendant-lamps-Ry9WBo3qmoc?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash -->

<%- include ("./partials/footer.ejs") %>