<div class="footerHeadline">
    <div class="headline">        
        <h4></h4>
    </div>
    <div class="headline shareItem">        
        <h4>Share your favorites</h4>
    </div>
    <div class="headline">
        <h4>Get notified when users post new item</h4>
    </div>

</div>

<div class="indexFooter">
    
    <div class="lorem">
        
        <div class="address">
            <h2>Int Design</h2>
            <h6>221B Baker St.,</h6>
            <h6>London, U.K.</h6>
        </div>

        <ul>
            <h4>About Us</h4>
            <h4>Events</h4>
            <h4>Contact</h4>
        </ul>

    </div>

    <div class="socials">
        <a class="socialLink" href="https://instagram.com">Instagram &#183;</a>
        <a class="socialLink" href="https://x.com">Twitter &#183;</a>
        <a class="socialLink" href="https://pinterest.com">Pinterest</a>
    </div>


    <div class="footerNews">
        <form class="newsletter">
            <input class="newsletterField" placeholder="Sign up for  our newsletter" value="" type="text" name="email" size="40"><br>
            <img class="mailIcon" src="https://i.postimg.cc/mksbxP8k/mail.png"></input>
        </form>
    </div>

</div>

</body>
</html>